{% extends 'layout.html' %}
{% block body %}

<h2>Figures List</h2>
{% for figure in all_figures %}
    <div>
    {{ figure.name }}
    </div>
    <div>
    {{ figure.number_of_models }}
    </div>
    <div>
    {{ figure.faction }}
    </div>
    <div>
    {{ figure.army.name }}
    </div>
    <form action="{{ url_for('update_figure', id=figure.id) }}">
        <input type=submit value="update">
    </form>
    <form action="{{ url_for('delete_figure', id=figure.id) }}">
        <input type=submit value="delete">
    </form>
    <br>
{% endfor %}

{% endblock body %}